<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Our Story</h1>
        <div style="padding:15px;">
            <p>
                We believe in good. We launched Fresh Pan Pizza Best Excuse Award on our Facebook fan page.
                Fans were given situations where they had to come up with wakty and fun excuses. The person with the best
                excuse won the Best Excuse
                Badge and won Pizzeria's vouchers. Their enthusiastic respnce proved that Pizzeria's Fresh Pan Pizza is the
                Tastiest Pan Pizza Ever!
            </p>
            <p>
                Ever since we launched the Tastiest Pan Pizza, ever, people have not been able to resist the softest
                chessiest, crunchiest, butteriest Domino's Fresh Pan Pizza.
                They have been leaving the stage in the middle of a performance and even finding excuses to be disqualified
                in a football match.
    
            </p>
            <p>
                We launched Fresh Pan Pizza Best Excuse Award on our Facebook fan page. Fans were given situations where
                they had to come up with wacky and fun excuses. The person with the best excuse won the Best Excuse Badge
                and won Domino's vouchers. Their enthusiastic response proved that Pizzeria's Fresh Pan Pizza is the
                Tastiest Pan Pizza Ever!
    
            </p>
        </div>
        
    </div>
    <div id="row2" class="row">
        <div id="img-align1" class="col-md-6">
            <img src="https://image.shutterstock.com/image-photo/raw-dough-pizza-ingredients-spices-600w-526830277.jpg"  height="400px" width="500px" alt="Ingredients">
        </div>
        <div id="row2-head" class="col-md-6">
            <h1>Ingredients</h1>
            <p>
                We're ruthless about goodness. We have no qualms about tearing up a day-old lettuce leaf (straight from
                the farm), or steaming a baby (carrot). Cut. Cut. Chop. Chop. Steam. Steam. Stir. Stir. While they're
                stil young and fresh - that's our motto. It makes the kitchen a better place.
            </p>
        </div>

    </div>
    <div id="row3" class="row">
         <div id="row3-head" class="col-md-6">
            <h1>Our Chefs</h1>
            <p>
                They make sauces sing and salads dance. they creae magic with skill,
                knowledge, passion, and stiring spoons (among other things). They make goodness so good,
                it doesn't know what to do with itself. we do though. We send it to you.
            </p>
        </div>
        <div  id="img-align2" class="col-md-6">
            <img src="https://image.shutterstock.com/image-photo/happy-chef-600w-437116033.jpg" height="400px" width="500px" alt="chef">
        </div>
       
    </div>
    <div id="row4" class="row">
        <div id="img-align3" class="col-md-6">
            <img src="https://image.shutterstock.com/image-photo/vintage-analog-kitchen-countdown-timer-260nw-669255388.jpg" height="400px" width="500px" alt="delivery">
        </div>
        <div id="row4-head" class="col-md-6">
            <h1>45 Min delivery</h1>
            
        </div>
    </div>

</div>