#home-div{
    margin:15px 0;
    display: flex;
}

#cart-zero-row{
    
    height: inherit;
    min-height: 80vh;
    display: flex;
    justify-content: center;
}

#cart-row{
    min-height: 80vh;
    margin:30px 0px;
}

 #cartZero{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;

}
#cartZero>*{
    flex-basis: 100%;

} 

#order-cart{
    border-radius: 5px;
    width: 60%;
    border: 1px solid rgba(143, 143, 143, 0.466);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
#container-cart{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.table-data{
    vertical-align: middle;
}

#btn-add{
    background-color: rgba(0, 0, 0, 0.644);
    color: white;
}
#btn-minus{
    background-color: rgba(0, 0, 0, 0.644);
    color: white;
}
#btn-del{
    background-color: rgba(0, 0, 0, 0.644);
    color: white;
}

#ingredient-cart{
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 30%;
    padding:20px;

}
#ingredient-cart>*{
    flex-basis: 100%;
    padding:5px;
}
.pizza-details{
    display: flex;
    justify-content: space-between;
}
.ingredient-head{
    display: flex;
    justify-content: space-between;
}


#ing-table > tbody > tr > td,
#ing-table > tbody > tr > th,
#ing-table > tfoot > tr > td,
#ing-table > tfoot > tr > th,
#ing-table > thead > tr > td,
#ing-table > thead > tr > th {
    border: none;
}
