/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-checkbox .mat-checkbox-label{
    margin-top: 4px;
    font-weight: lighter;
}
 mat-checkbox .mat-checkbox-frame {
    border-color: rgb(0, 0, 0);
    background-color: #36333300;
    font-weight: lighter;
}

mat-checkbox .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    margin-top: 1px;
    margin-left: 1px;
    width: 16px;
    height: 17px;
}

 /* mat-checkbox .mat-checkbox-background{
    background-color: transparent;

    
} */

/* .mat-checkbox-checkmark-path {
    stroke:transparent;
   
   }
   svg path{
    fill: transparent;
}; */